<%= title t('.char_tree', :name => @character.name) %>
<div class="mainContainer800px greyBackground">
	<div id="top">
		<span class="indent40 columnOne alphabet">Script's world</span>
		<h1 class="indent40 columnOne"><%= yield :title %></h1>
		<div class="indent40R columnTwo">
			<%= link_to "", @character, :class =>"button right pictos back", :title => t('.back_char') %>
		</div>
	</div>
	<div id="tree" class ="indent40">
		<%= character_tree_view @character.subtree.arrange, true %>
	</div>
	<script>
	<!-- 
	jQuery("#tree").jstree({
	        "themes" : {
	            "theme" : "default",
	            "dots" : true,
	            "icons" : false
	        },
			"core" : {"initially_open" : "rootNode"},
	        "plugins" : [ "themes", "html_data" ]
	    });
	// -->
	</script>
</div>